name: CFLite pull request fuzzing

on:
  pull_request:
    paths:
      - '**'

permissions:
  contents: read
  security-events: write

jobs:
  fuzz-pr:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [address]
    concurrency:
      group: cflite-${{ github.ref }}-${{ matrix.sanitizer }}
      cancel-in-progress: true

    steps:
      - name: Build fuzzers
        id: build
        uses: google/clusterfuzzlite/actions/build_fuzzers@v1
        with:
          language: c++
          sanitizer: ${{ matrix.sanitizer }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run fuzzers
        id: run
        uses: google/clusterfuzzlite/actions/run_fuzzers@v1
        with:
          sanitizer: ${{ matrix.sanitizer }}
          mode: code-change
          fuzz-seconds: 300                 # 5 minutes
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-sarif: true
